<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ANgulR</title>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700,300|Dosis:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body data-ng-app="picApp">
  <main data-ng-controller="MainController">
    <section class="newpic"> 
      <form data-ng-submit="post(newPic)">
          <label for="url">link:</label>
          <input type="text" name="name" data-ng-model="newPic.url">

          <label for="desc">Description:</label>
          <input type="text" name="desc" data-ng-model="newPic.desc">

          <button type="submit">Submit</button>
      </form>  
    </section>

    <section>
      <ul data-ng-init="get()">
       <li data-ng-repeat="pic in pics">

        <img data-ng-src= {{pic.url}} >
        <p> {{pic.desc}} </p>
       </li> 
      </ul>
    </section>
  </main>
  <script src="bundle.js"></script>
</body>
</html>
